<!DOCTYPE html>
<html lang="ja">
<body>
	<% if @results.empty? %>
		<p>No results.</p>
	<% else %>
		<% @results.each do |i| %>
			<p>
				<b><%= i[1]["title"] %></b>
				<br>
				<%= i[1]["extract"] %>
			</p>
		<% end %>
	<% end %>
</body>
</html>
